<section class="trip-details-container">
  <div class="trip">
    <h1>{{ page_title }}</h1>
    <div class="map">
      <frontend-trip-map *ngIf="trip" [trip]="trip"></frontend-trip-map>
    </div>
    <div class="trip-info">
      <h2>
        Fecha y hora de inicio:
        <i>{{ trip?.startDate | date: 'HH:mm dd/MM/yyyy' }}</i>
      </h2>
      <h2>
        Fecha y hora de finalización:
        <i>{{ trip?.endingDate | date: 'HH:mm dd/MM/yyyy' }}</i>
      </h2>

      <div class="price-and-places">
        <h2>
          <span>Plazas disponibles: {{ trip?.places }}</span>
        </h2>
        <span class="price">{{ trip?.price | convertCentToEur }}</span>
      </div>
      <h2>Comentarios del Viaje:</h2>
      <p>{{ trip?.comments }}</p>
    </div>
  </div>
  <div class="clients">
    <h2>Reservas</h2>
    <div class="clients-grid">
      <mat-card *ngFor="let user of users" class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{
            user?.firstName + ' ' + user?.lastName
          }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="get_user_profile_photo(user)" />
        <mat-card-content>
          <div>
            <b>{{ user?.email }}</b>
            <p>{{ user?.phone }}</p>
          </div>
          <div>
            <b *ngIf="!user.times_banned">Veces baneado : 0</b>
            <b *ngIf="user.times_banned"
              >Veces baneado : {{ user.times_banned }}</b
            >

            <div *ngIf="user?.averageRatings">
              <div><b>Valoración media: </b></div>

              <mat-icon [ngClass]="{ orange: user.averageRatings > 0 }">{{
                user.averageRatings > 0 ? 'star' : 'star_border'
              }}</mat-icon>
              <mat-icon [ngClass]="{ orange: user.averageRatings > 1 }">{{
                user.averageRatings > 1 ? 'star' : 'star_border'
              }}</mat-icon>
              <mat-icon [ngClass]="{ orange: user.averageRatings > 2 }">{{
                user.averageRatings > 2 ? 'star' : 'star_border'
              }}</mat-icon>
              <mat-icon [ngClass]="{ orange: user.averageRatings > 3 }">{{
                user.averageRatings > 3 ? 'star' : 'star_border'
              }}</mat-icon>
              <mat-icon [ngClass]="{ orange: user.averageRatings > 4 }">{{
                user.averageRatings > 4 ? 'star' : 'star_border'
              }}</mat-icon>
            </div>
            <p *ngIf="users_already_rated?.includes(user.id)">
              Usuario ya valorado
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">RECHAZAR</button>
          <!--<button mat-raised-button color="primary">MÁS INFORMACIÓN</button>-->
          <button
            *ngIf="!users_already_rated?.includes(user.id) && fecha < today"
            mat-raised-button
            color="primary"
            (click)="addValoracionDialog(user.id)"
          >
            VALORAR
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
