@import '~colors.scss';

.trip-details-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: 'trip map map';
}


.map {
  margin-top: 60px;
  grid-area: map;
  height: min-content;
  border: 3px solid #0e4a6b;

}

.trip {
  grid-area: trip;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trip-info {
  grid-area: trip;
  display: flex;
  flex-direction: column;
}

.trip-info h2{
  color: #0e4a6b;
  font-size: 1rem;
}

.price-and-places {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  color: #538994;
  font-size: 1.25rem;
}

.driver-status {
  background-color: $primary;
  padding: 10px;
  align-self: center;
  border-radius: 50%;
}

.driver-status img {
  height: 100px;
  width: 100px;
}

.clients h2{
  margin-top: 30px;
  text-align: center;
  color: #0e4a6b;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 300px;
}

.button {
  background-color: #0e4a6b;
  color: white;
}


@media (max-width: 760px) {
  .trip-details-container {
    display: flex;
    flex-direction: column;
  }

  .driver-status {
    margin: 20px 0;
  }
}
