<frontend-main-header></frontend-main-header>

<h1>SOBRE NOSOTROS</h1>
<div class="us-list">
  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us12.png"
        alt="maria-casasola-foto"
      />
      <mat-card-title class="name">
        <p>María Casasola Calzadilla, 21 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Nuestra cabeza pensante, encargada de organizar y dirigir a todo el
          equipo con todo lo que ello conlleva. Una líder nata en cuyas
          decisiones siempre puedes confiar. Destaca su capacidad para afrontar
          problemas en los momentos más críticos y buscar la mejor solución
          teniendo en cuenta y muy presente las capacidades de los miembros del
          grupo.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us9.png"
        alt="moises-calzado-foto"
      />
      <mat-card-title class="name">
        <p>Moisés Calzado Cobo, 21 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Contamos con nuestro experto en tecnologías (CTO), especializado en
          despliegue, un gran apoyo a todo el equipo por su amplio conocimiento
          de los lenguajes de programación que utilizamos en la aplicación.
          Entre sus mejores cualidades podemos destacar el compañerismo, siempre
          dispuesto a echar un cable donde y cuando haga falta.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us8.png"
        alt="fernando-angulo-foto"
      />
      <mat-card-title class="name">
        <p>Fernando Angulo Moruno, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Delegado de protección de datos y desarrollador de backend, experto en
          refinar cada funcionalidad implementada y grandes actitudes para
          realizar un código limpio. Cuenta con magnificas aptitudes como : la
          fidelidad y ser un persona bondadosa y aplicada.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us13.png"
        alt="jose-delgado-foto"
      />
      <mat-card-title class="name">
        <p>José Delgado Serrano, 21 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Nuestro jefe de backend, con una alta capacidad y larga trayectoria
          para la gestión de las tareas asignadas a su equipo y cuenta con todas
          las cualidades necesarias para se un experto programador en este
          ámbito. Destaca su implicación en que todas las tareas transcurran sin
          ningún percance y de en que todo el mundo se encuentre cómodo
          trabajando.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us11.png"
        alt="emilia-coleto-foto"
      />
      <mat-card-title class="name">
        <p>Emilia Coleto Alcudia, 21 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Nuestra jefa de forntend, se encarga de la organización de las tareas
          de esta parte de nuestra aplicación. Conoce a la perfección los
          límites que su equipo, permitiendo así poder asignar las tareas
          designadas a frontend de la manera más equitativa y eficaz posible.
          Destaca por su profesionalidad y capacidad de liderazgo.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us1.png"
        alt="antonio-fernandez-foto"
      />
      <mat-card-title class="name">
        <p>Antonio Fernández Manzano, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Con el rol de COO ha contribuido a organizar y distribuir las tareas a
          todo el equipo para garantizar la máxima calidad. Es el encargado de
          trazar la linea de ruta del proyecto y analizar todo el feeeback
          recibido. Entre sus mejores cualidades podemos destacar: organización,
          apoyo y disciplina.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us2.png"
        alt="antonio-marquez-foto"
      />
      <mat-card-title class="name">
        <p>Antonio Germán Márquez Trujillo, 23 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Componente del equipo de Backend, nuestra persona de confianza a la
          hora de asegurarnos que nuestro código esté limpio de pequeños bugs y
          de que sea un código de calidad. Destaca su implicación en que todas
          las tareas que se suben al repositorio del proyecto se encuentren bajo
          los estándares que hemos delimitado.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us3.png"
        alt="javier-ruiz-foto"
      />
      <mat-card-title class="name">
        <p>Javier Ruiz Muñiz, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Miembro del equipo de desarrollo FrontEnd, especializado en desarrollo
          web. Destaca su capacidad de trabajo en equipo y apoyo al compañero.
          Entregado al desarrollo del proyecto y con actitud para el aprendizaje
          constante.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img class="profile-photo" src="assets\img\us7.png" alt="chao-hu-foto" />
      <mat-card-title class="name">
        <p>Chao Hu, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Desarrollador Backend de la aplicación, quien aporta diferentes
          funcionalidades para el servicio. Se destaca el poder realizar un pago
          o una devolución desde la aplicación. Encargado de realizar todas sus
          tareas asignadas y ayudar a los miembros que la necesiten. Ha
          demostrado el tener entusiasmo, alegría y compañerismo.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us10.png"
        alt="miguel-pantoja-foto"
      />
      <mat-card-title class="name">
        <p>Miguel Ángel Pantoja Bas, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Componente del equipo de desarrollo de frontend, especializado en
          tecnologías de desarrollo web. Entre sus mejores cualidades se
          destacan el saber aceptar las criticas constructivas y el trabajo en
          equipo, convirtiéndose en un engranaje de la maquinaria de frontend.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us4.png"
        alt="jose-martin-foto"
      />
      <mat-card-title class="name">
        <p>Jose Martín Sánchez, 21 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Componente de nuestro equipo de Backend, un miembro en el que confiar
          a la hora de la realización de sus tareas, siempre atento por si
          cualquier miembro pudiese tener algún problema con el proyecto. Suele
          aportar multitud de ideas con gran potencial y soluciones para
          diversos problemas.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us5.png"
        alt="mickael-ben-foto"
      />
      <mat-card-title class="name">
        <p>Mickael Ben Said, 30 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Miembro de nuestro equipo de frontend, se encarga de encontrar
          posibles fallas que hayamos podido cometer durante el desarrollo.
          Tiene una gran capacidad de aprendizaje sobre nuevas tecnologías y
          destaca su actitud a la hora de afrontar problemas.
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="us">
    <div class="us-header">
      <img
        class="profile-photo"
        src="assets\img\us6.png"
        alt="alejandro-carillo-foto"
      />
      <mat-card-title class="name">
        <p>Alejandro Carrillo Martín, 22 años</p>
      </mat-card-title>
      <div class="content">
        <p>
          Desarrollador de Frontend, con grandes habilidades para afrontar los
          diversos desafíos que surgen en el proyecto. Abierto al aprendizaje de
          nuevas tecnologías y a apoyar a sus compañeros en los momentos mas
          delicados del desarrollo.
        </p>
      </div>
    </div>
  </mat-card>
</div>

<frontend-main-footer></frontend-main-footer>
