<h1 mat-dialog-title class="title">Acceso denegado</h1>
<div mat-dialog-content class="content">
  Este usuario no tiene los permisos necesarios para acceder a la página
  <br /><br /><br />
  <h3>Crea tu apelación al administrador</h3>
  <form [formGroup]="complaintAppealForm" class="form-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contenido</mat-label>
      <input matInput type="text" formControlName="content" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button class="create-button" (click)="create_complaint_appeal()">
    Crear apelación
  </button>
  <button mat-button (click)="close()">Cerrar</button>
</div>
