<h1 mat-dialog-title class="title">Usuario baneado</h1>
<div mat-dialog-content class="content">
  <div *ngIf = 'complaint'>
  <h4>Detalles del bloqueo de la cuenta: {{complaint.title}}</h4>
  <p>{{complaint.content}}</p>
  </div>
  <h4>Este usuario se encuentra baneado por incumplir con nuestros términos de uso</h4>
  <h3>Crea tu apelación al administrador</h3>
  <form [formGroup]="complaintAppealForm" class="form-fields">
    <mat-form-field appearance="outline">
      <mat-label>Contenido</mat-label>
      <input matInput type="text" formControlName="content" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button class="create-button" (click)="create_complaint_appeal()">
    Crear apelación
  </button>
  <button mat-button (click)="close()">Cerrar</button>
</div>
