@import '~colors.scss';

.trip-order-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  margin: 45px;
}

mat-card-title {
  color: #0e4a6b;
  font-size: 30px;
  padding-bottom: 10px;
}

.button {
  background-color: #0e4a6b;
  color: white;
  max-width: max-content;
}

.details {
  border: 1px solid #0e4a6b;
  padding: 30px;
  max-height: fit-content;
}

@media (max-width: 760px) {
  .trip-order-details-container {
    display: flex;
    flex-direction: column;
  }
}
