::ng-deep {
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #538994;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #538994;
  }
}

.form-fields {
  align-items: center;
  justify-content: center;
  width: min-content;
}

.button {
  color: white;
  background-color: #538994;
  margin: 20px;
}

.page-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 80px;
  color: #0e4a6b;
}

.container mat-form-field {
  color: #538994;
  margin: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #538994;
  border: 2px solid #0e4a6b;
}
