<h1>VIAJES CONTRATADOS</h1>
<div class="trips-list">
  <mat-card class="trip" *ngFor="let trip of trips">
    <mat-card-title class="card-title">{{
      trip?.user?.firstName + ' ' + trip?.user?.lastName
    }}</mat-card-title>
    <br /><br />
    <mat-card-content class="card-content">
      <p>
        <b>Hora de salida:</b>
        {{ trip?.trip?.startDate | date: 'HH:mm dd/MM/yyyy' }}
      </p>
      <p>
        <b>Hora de llegada:</b>
        {{ trip?.trip?.endingDate | date: 'HH:mm dd/MM/yyyy' }}
      </p>
      <p>
        <b>Fecha límite de cancelación:</b>
        {{ trip?.trip?.cancelationDateLimit | date: 'HH:mm dd/MM/yyyy' }}
      </p>
      <div style="text-align: center">
        <p>
          {{ trip?.trip?.startingPoint?.address }} &#8594;
          {{ trip?.trip?.endingPoint?.address }}
        </p>
        <strong>
          <p>{{ trip?.price | convertCentToEur }}</p>
          <p>{{ get_trip_status(trip?.status) }}</p>
        </strong>
      </div>
    </mat-card-content>
    <p>
      {{ trip?.trip?.comments }}
    </p>

    <mat-card-actions align="end">
      <button
        *ngIf="show_cancelation_button(trip)"
        mat-raised-button
        color="warn"
        (click)="cancel_trip_order_dialog(trip.id)"
      >
        <mat-icon>cancel_presentation</mat-icon>
      </button>
      <button
        mat-raised-button
        class="button"
        (click)="go_to_trip(trip.trip.id)"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button
        mat-raised-button
        class="button"
        (click)="create_complaint(trip.trip.id)"
        *ngIf="show_complaint_button(trip?.trip)"
      >
        <mat-icon>report</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
