h1 {
  text-align: center;
  color: #0e4a6b;
  margin: 20px;
  font-size: 30px;
}

.card-subtitle {
  color: #0b3a53;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-subtitle p {
  margin: 0 !important;
}

.driver-icon {
  margin-left: 10px;
}

.button {
  background-color: #0e4a6b;
  color: white;
  margin: 10px;
}

.icon {
  margin-left: 10px;
}

.buttons-group {
  display: flex;
  justify-content: center;
}

.trips-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: '. .';
  padding: 20px;
}

.cancel-button {
  margin: 10px;
}

@media (max-width: 760px) {
  .trips-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trips-list mat-card {
    margin: 10px;
  }
}
