h1 {
  text-align: center;
  color: #0e4a6b;
  margin: 20px;
  font-size: 30px;
}

.card-title {
  text-align: right;
  color: #0e4a6b;
  font-size: 30px;
}

.button {
  background-color: #0e4a6b;
  color: white;
  margin: 10px;
}

.icon{
  margin-left: 10px;
}

.buttons-group{
  display: flex;
  justify-content: center;
}

.trips-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: '. .';
  padding: 20px;
}

@media(max-width: 760px) {
  .trips-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
