<footer>
  <div class="links">
    <p class="link" routerLink="/about-us">Sobre nosotros</p>
    <p class="link" *ngIf="canAccess()" routerLink="/authenticated/contact">
      Contacto
    </p>
    <p class="link" routerLink="/terms-and-conditions">
      Términos y condiciones
    </p>
    <p class="link" routerLink="/privacy-policy">Política de privacidad</p>
    <p class="link" routerLink="/cancelation-policy">Política de cancelación</p>
  </div>
  <div class="logo-container">
    <img
      alt="footer-logo"
      class="footer-logo"
      src="../../../assets/img/logo4.png"
    />
  </div>
  <div class="copyright">
    <p>Versión 1.0</p>
    <p>GotACar, 2021 ©</p>
  </div>
</footer>
