@import '~colors.scss';

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.filter {
  width: 100%;
}

.filter-button {
  color: white;
  background-color: $warn;
}

.filter-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-range {
  max-width: 20vw;
}