
<div class="grid-container">
    <div class="ViajeOfertado">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"></iframe>
    </div>
    <div class="MediaViajesConduc">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"></iframe>
    </div>
    <div class="MediaViajesContra">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"></iframe>
    </div>
    <div class="Percent">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"></iframe>
    </div>
    <div class="MediaValoracion">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"></iframe>
    </div>
  </div>