<div class="grid-container">
  <div class="chart">
    <iframe title="chart"
      width="100%"
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      height="480"
      src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=f64a67cd-af2c-44fe-97a3-fac91dbeb1a5&theme=light%22%3E"
    ></iframe>
  </div>
  <div class="chart">
    <iframe title="chart"
      width="100%"
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      height="480"
      src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=eab3108d-71eb-474b-8dd0-01a3e7a8c379&theme=light%22%3E"
    ></iframe>
  </div>
  <div class="chart">
    <iframe title="chart"
      width="100%"
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      height="480"
      src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=6cb17b6d-fb76-45f6-9ef7-97ed8bdf154d&theme=light%22%3E"
    ></iframe>
  </div>
  <div class="chart">
    <iframe title="chart"
      width="100%"
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      height="480"
      src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=44d19c70-a43f-4a68-8a22-e5ea357366b5&theme=light"
    ></iframe>
  </div>
  <div class="chart">
    <iframe title="chart"
      width="100%"
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      height="480"
      src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=c5123e61-1b8a-471c-8ca6-4641914225f0&autoRefresh=300&theme=light"
    ></iframe>
  </div>
  <div class="chart">
    <iframe title="chart" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=98e6a4bf-cc39-4448-b211-17459e1849d5&autoRefresh=300&theme=light"></iframe>
  </div>
  <div class="chart">
    <iframe title="chart" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=18e3e987-0ede-4c0d-8de8-b8ba5f88e709&autoRefresh=300&theme=light"></iframe>
  </div>
  <div class="chart">
    <iframe title="chart" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="100%" height="480" src="https://charts.mongodb.com/charts-gotacar-fwgso/embed/charts?id=dfcdf571-440e-477a-b7a9-cb28532ec2bd&theme=light"></iframe>
  </div>
</div>
