<div>
  <h1>LISTA DE QUEJAS DE USUARIOS</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let complaint of complaints" class="complaints-list">
      <mat-list role="list">
        <mat-card class="complaint">
          <mat-card-title>
            <mat-card-content class = "user-title">
              {{ complaint?.user?.firstName + ' ' + complaint?.user?.lastName }}
            </mat-card-content>
            <mat-card-content class = "complaint-title">
              <em>{{ complaint?.title}}</em>
            </mat-card-content>
          </mat-card-title>
          <br /><br />
          <mat-card-content class="card-content">
            <mat-card-subtitle>
              <strong>Creación de la queja:</strong> {{ complaint?.creationDate }}
            </mat-card-subtitle>
            <br />
            <mat-card-subtitle>
              <strong>Descripción:</strong> {{ complaint?.content }}
            </mat-card-subtitle>
            <br>
            <mat-card-subtitle>
              <strong>Estado:</strong> {{ complaint?.status }}
            </mat-card-subtitle>
            <br />
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button class="button">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <br />
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>