h1 {
    text-align: center;
    color: #0e4a6b;
    margin: 20px;
    font-size: 30px;
  }

  .trip {
    border: 1px solid #0e4a6b;
    padding: 30px;

  }

  .card-title {
    text-align: right;
    color: #0e4a6b;
    font-size: 30px;
  }

  .mat-card-subtitle {
    font-size: 20px;
  }

  .trips-list {
    width: max-content;
  }

  .button {
    background-color: #0e4a6b;
    color: white;
  }

  mat-list {
    width: 90%;
  }

.user-title{
  font-size: 23px;
  color: #0e4a6b;

}
.complaint-title{
  text-align: center;
  font-size: 23px;
  color: #0a1d27;
} 