<h1>LISTA DE QUEJAS DE USUARIOS</h1>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="50%"
      fxFlex.xs="100%"
      fxFlex.sm="100%"
      *ngFor="let complaint of complaints"
    >
      <mat-card class="complaint">
        <mat-card-title>
          <mat-card-content class="complaint-title">
            <em>{{ complaint?.title }}</em>
          </mat-card-content>
          <mat-card-content class="user-title">
            <strong> Queja realizada por </strong>:
            {{ complaint?.user?.firstName + ' ' + complaint?.user?.lastName }}
          </mat-card-content>
        </mat-card-title>
        <br /><br />
        <mat-card-content class="card-content">
          <mat-card-subtitle>
            <strong>Creación de la queja:</strong>
            {{ complaint?.creationDate | date: 'short' }}
          </mat-card-subtitle>
          <br />
          <mat-card-subtitle>
            <strong>Descripción:</strong> {{ complaint?.content }}
          </mat-card-subtitle>
          <br />
          <mat-card-subtitle>
            <strong>Estado:</strong> {{ isPending(complaint?.status) }}
          </mat-card-subtitle>
          <br />
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-raised-button
            style="background-color: #538994"
            class="button"
            (click)="rejectComplaint(complaint)"
          >
            <mat-icon> clear </mat-icon>
          </button>
          <button
            mat-raised-button
            style="background-color: #538994"
            class="button"
            (click)="openDialog(complaint)"
          >
            <mat-icon> check_circle</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
</div>
