<h1>VIAJES CONTRATADOS</h1>
<div class="trips-list">
  <mat-card class="trip mat-elevation-z4" *ngFor="let tripOrder of tripOrders">
    <mat-card-content>
      <p><strong>Viaje: </strong>{{ tripOrder?.trip?.startingPoint?.address }} &#8594;
        {{ tripOrder?.trip?.endingPoint?.address }}</p>
      <p><strong>Pasajero: </strong>{{ tripOrder?.user?.firstName + ' ' + tripOrder?.user?.lastName }}</p>
      <p><strong>Conductor: </strong>{{tripOrder?.trip?.driver?.firstName+ ' ' + tripOrder?.trip?.driver?.lastName}}</p>
      <p><strong>Estado: </strong>{{translate_status(tripOrder?.status)}}</p>
      <p *ngIf="tripOrder?.paymentIntent"><strong>Payment Intent: </strong>{{tripOrder?.paymentIntent}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="button" (click)="show_trip_order(tripOrder?.id)">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>