@import 'colors.scss';

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.new-profile-photo {
  height: 100%;
  width: auto;
  border-radius: 50%;
}
.new-profile-photo2 {
  height: 100%;
  width: auto;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

.submit {
  color: white;
  background-color: $secondary;
}
