<button class="close-button" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<h2>Foto de perfil</h2>
<div
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
  (click)="select_image()"
>
  <img [src]="img_url" *ngIf="file" class="new-profile-photo" />
  <p *ngIf="!file">Arrastra tu imagen o haz click para abrir</p>
  <input id="file_input" type="file" [multiple]="false" style="display: none" />
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-flat-button class="submit" (click)="submit()">
    Cambiar foto de perfil
  </button>
</div>
