<frontend-main-header></frontend-main-header>
<frontend-search-form></frontend-search-form>
<mat-card class="information">
  <mat-card-header class="header-card">
    <mat-card-title><h1>La nueva forma de transportarte
      dentro de tu localidad</h1></mat-card-title>
    <mat-card-subtitle><h2>Moverte por tu ciudad nunca había sido tan fácil</h2></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="information-cards">
    <mat-card class="information-card">
      <div class="header-information-card">
        <mat-icon class="information-icon">explore</mat-icon>
        <mat-card-header>
          <mat-card-title>Viajes compartidos</mat-card-title>
        </mat-card-header>
      </div>
      <hr />
      <mat-card-content>¿Nunca has pensado en compartir coche con alguien que no conoces? Trasladarte a la otra punta de
        tu ciudad puede no suponer un gasto para ti, ¿pero y si tienes que hacerlo todos los días? Comparte tus gastos
        con GotACar, y deja de perder dinero.</mat-card-content>
    </mat-card>
    <mat-card class="information-card">
      <div class="header-information-card">
        <mat-icon class="information-icon">paid</mat-icon>
        <mat-card-header>
          <mat-card-title>Pagos seguros</mat-card-title>
        </mat-card-header>
      </div>
      <hr />
      <mat-card-content>Nuestra plataforma utiliza pasarelas de pago seguras para que tus datos estén a buen recaudo en
        todo momento. GotACar se hará responsable de cualquier problema que ocurra con tu método de pago.
      </mat-card-content>
    </mat-card>
    <mat-card class="information-card">
      <div class="header-information-card">
        <mat-icon class="information-icon">cancel</mat-icon>
        <mat-card-header>
          <mat-card-title>Política de cancelaciones</mat-card-title>
        </mat-card-header>
      </div>
      <hr />
      <mat-card-content>Somos conscientes de que nuestros usuarios necesitan unos servicios a la altura de sus demandas,
        y de que no pueden perder un solo segundo a la hora de desplazarse por su ciudad. Por ello, nuestra política de
        cancelaciones es clara a la hora de penalizar las irresponsabilidades.</mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<frontend-main-footer></frontend-main-footer>