.information {
  background-color: #538994;
}

.header-card {
  display: flex;
  color: white;
  padding-top: 40px;
  padding-left: 90px;
}

.information-cards {
  display: flex;
  padding: 20px;
  align-items: baseline;
  text-align: center;
  justify-content: center;
}

.information-card {
  margin: 20px;
  height: 200px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: #0e4a6b;
}

.header-information-card {
  display: flex;
  justify-content: center;
  color: #0e4a6b;
}

.information-icon {
  color: #0e4a6b;
}

::ng-deep {
  .mat-card-subtitle {
    color: white;
  }

  .mat-card {
    border: 0px;
    border-radius: 0px;
  }
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

@media (max-width: 760px) {
  .header-card {
    padding: 0;
  }

  .information-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
