<mat-toolbar class="main-toolbar">
  <div class="logo-container">
    <div *ngIf="!isEdgeDomain()">
      <button mat-icon-button class="back-button" (click)="go_back()"><mat-icon>arrow_back_ios</mat-icon></button>
    </div>
    <img
      (click)="redirect()"
      src="assets/icons/icon-128x128.png"
      alt="GotACar-Logo"
      class="logo"
    />
  </div>
  <div *ngIf="isAdmin()">
    <frontend-admin-menu></frontend-admin-menu>
  </div>
  <div *ngIf="isClient()">
    <frontend-auth-menu></frontend-auth-menu>
  </div>
  <div *ngIf="!isLogged()">
    <frontend-no-auth-menu></frontend-no-auth-menu>
  </div>
</mat-toolbar>
