.main-toolbar {
  background-color: #538994;
  height: 60px;
  display: flex;
}

.logo-container {
  width: 5%;
  height: 70%;
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0%;
}

.title {
  color: white;
  font-size: 250%;
}

.back-button {
  color: #0e4a6b;
  
}

.logo:hover {
  cursor: pointer;
}

.logo {
  height: 40px;
  width: 40px;
}