<h1>Valoraciones</h1>
<div class="ratings-list">
  <mat-card class="rating" *ngFor="let rating of ratingsComments">
    <mat-card-header>
      <mat-card-title>
        {{ rating?.from?.firstName }} {{ rating?.from?.lastName }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rating-content">
        <mat-icon class="material-icons md-18" [ngClass]="{ orange: rating?.points > 0 }">{{
          rating?.points > 0 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon class="material-icons md-18" [ngClass]="{ orange: rating?.points > 1 }">{{
          rating?.points > 1 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon class="material-icons md-18" [ngClass]="{ orange: rating?.points > 2 }">{{
          rating?.points > 2 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon class="material-icons md-18" [ngClass]="{ orange: rating?.points > 3 }">{{
          rating?.points > 3 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon class="material-icons md-18" [ngClass]="{ orange: rating?.points > 4 }">{{
          rating?.points > 4 ? 'star' : 'star_border'
          }}</mat-icon>
        <p>Valorada el {{ rating?.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <p><strong>Usuario:</strong> {{ rating?.to?.firstName }} {{ rating?.to?.lastName }}</p>
      <p><strong>Viaje:</strong> {{rating?.trip?.startingPoint?.address}}
        <mat-icon class="material-icons md-15">arrow_right_alt</mat-icon>
        {{rating?.trip?.endingPoint?.address}}
      </p>
      <p><strong>Comentario:</strong> {{ rating?.content }}</p>
    </mat-card-content>
  </mat-card>
</div>