<h1>Valoraciones</h1>
<div class="ratings-list">
  <mat-card class="rating" >
    <div class="rating-header">
      <mat-card-title class="username">
       Valoracion de {{ prueba }}
      </mat-card-title>
    </div>
    <hr>

    <mat-card-content>
        <div class="rating-content">
      
        <mat-icon class="material-icons md-18">{{
            'star' 
          }}</mat-icon>
          <mat-icon class="material-icons md-18">{{
             'star_border'
          }}</mat-icon>
        
        <div class="createdAt">Valorada el 14/3/2021</div>
    </div>
 
           
        
           
       
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugit autem velit non fuga facere sunt? Placeat debitis aspernatur omnis eum cumque, quidem dolore vel a modi accusamus? Sunt, aliquid?</p>
      
      
    </mat-card-content>
  </mat-card>
</div>


