<div class="grid-container">
  <div class="perfil" *ngIf="user">
    <img class="profile-photo" [src]="get_profile_photo()" alt="user" />
    <div class="image-upload">
      <button mat-mini-fab color="primary" (click)="update_profile_photo()">
        <mat-icon> add_circle_outline </mat-icon>
      </button>
    </div>

    <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>

    <div class="buttons">
      <div *ngIf="isDriver()">
        <button class="primary" (click)="goToEditDriver()">Editar</button>
      </div>
      <div *ngIf="!isDriver()">
        <button class="primary" (click)="goToEditClient()">Editar</button>
      </div>
      <div *ngIf="hasCreateRequest()">
        <button  class="primary" (click)="becomeDriver()">Alta de conductor</button>
      </div>
      <div>
        <button class="primary" (click)="deleteAccount()">Borrar cuenta</button>
      </div>
    </div >
    
    <div class="skills">
      <h3 *ngIf="is_pending()"> Tu solicitud está en trámite<mat-icon>directions_car</mat-icon></h3>
      <h3 *ngIf="user?.driverStatus === 'CANCELLED'"> Tu solicitud de conversión a conductor ha sido rechazada</h3>
      <h6>Datos Personales</h6>
      <ul>
        <li>Fecha nacimiento: {{ user?.birthdate | date: 'dd-MM-yyyy' }}</li>
        <li>Email: {{ user?.email }}</li>
        <li>DNI: {{ user?.dni }}</li>
        <li>Teléfono: {{ user?.phone }}</li>
        <li *ngIf="isDriver()">IBAN: {{ user?.iban }}</li>
      </ul>
      <div *ngIf="isDriver()">
        <h6>Datos del vehículo</h6>
        <ul>
          <li>Matrícula: {{ user?.carData?.carPlate }}</li>
          <li>Alta: {{ user?.carData?.enrollmentDate | date: 'dd-MM-yyyy' }}</li>
          <li>Modelo: {{ user?.carData?.model }}</li>
          <li>Color: {{ user?.carData?.color }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
