<h1>USUARIOS REGISTRADOS</h1>
<div class="users-list">
  <mat-card class="user" *ngFor="let user of users">
    <mat-card-header>
      <img mat-card-avatar class="profile-photo" [src]="get_profile_photo(user)" alt="Foto de perfil" />
      <mat-card-title class="username">
        {{ user?.firstName + ' ' + user?.lastName }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Nombre:</strong> {{ user?.firstName }}</p>
      <p><strong>Apellidos:</strong> {{ user?.lastName }}</p>
      <p><strong>Email:</strong> {{ user?.email }}</p>
      <p><strong>DNI:</strong> {{ user?.dni }}</p>
      <p>
        <strong>Fecha de nacimiento:</strong>
        {{ user?.birthdate | date: 'dd/MM/yyyy' }}
      </p>
      <p>
        <strong>Roles:</strong>
        {{
        user?.roles
        .toString()
        .replaceAll('ROLE_CLIENT', 'Cliente')
        .replaceAll('ROLE_DRIVER', 'Conductor')
        .replaceAll(',', ', ')
        }}
      </p>
      <p *ngIf="user?.bannedUntil">
        <strong>Baneado hasta:</strong>
        {{ user?.bannedUntil | date: 'dd/MM/yyyy' }}
      </p>
      <p *ngIf="user?.timesBanned">
        <strong>Veces baneado: </strong>
        {{ user?.timesBanned }}
      </p>
      <div *ngIf="user.averageRatings">
        <p><strong>Valoración media:</strong></p>
        <mat-icon [ngClass]="{ orange: user.averageRatings > 0 }">{{
          user.averageRatings > 0 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon [ngClass]="{ orange: user.averageRatings > 1 }">{{
          user.averageRatings > 1 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon [ngClass]="{ orange: user.averageRatings > 2 }">{{
          user.averageRatings > 2 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon [ngClass]="{ orange: user.averageRatings > 3 }">{{
          user.averageRatings > 3 ? 'star' : 'star_border'
          }}</mat-icon>
        <mat-icon [ngClass]="{ orange: user.averageRatings > 4 }">{{
          user.averageRatings > 4 ? 'star' : 'star_border'
          }}</mat-icon>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="user.averageRatings" mat-raised-button class="button" (click)="go_to_user_ratings(user.id)">
        <mat-icon>star_half</mat-icon>
      </button>
      <button mat-raised-button class="button" *ngIf="user?.timesBanned >= 3" (click)="delete_account(user?.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>