<h1>USUARIOS REGISTRADOS</h1>
<div class="users-list">
  <mat-card class="user" *ngFor="let user of users">
    <mat-card-title>{{
      user?.firstName + ' ' + user?.lastName
    }}</mat-card-title>

    <mat-card-content>
      <p><b>First name:</b> {{ user?.firstName}}</p>
      <p><b>Last name:</b> {{ user?.lastName}}</p>
      <p><b>UID:</b> {{ user?.uid}}</p>
      <p><b>Email:</b> {{ user?.email}}</p>
      <p><b>DNI:</b> {{ user?.dni}}</p>
      <p><b>Profile photo:</b> {{ user?.profilePhoto}}</p>
      <p><b>Birthdate:</b> {{ user?.birthdate | date: 'medium' }}</p>
      <p><b>Roles:</b> {{ user?.roles}}</p>
      <p><b>Banned until:</b> {{ user?.bannedUntil | date: 'medium' }}</p>
    </mat-card-content>
  </mat-card>
</div>
