<h1>USUARIOS REGISTRADOS</h1>
<div class="users-list">
  <mat-card class="user" *ngFor="let user of users">
    <mat-card-title>{{
      user?.firstName + ' ' + user?.lastName
    }}</mat-card-title>

    <mat-card-content>
      <p><strong>First name:</strong> {{ user?.firstName}}</p>
      <p><strong>Last name:</strong> {{ user?.lastName}}</p>
      <p><strong>UID:</strong> {{ user?.uid}}</p>
      <p><strong>Email:</strong> {{ user?.email}}</p>
      <p><strong>DNI:</strong> {{ user?.dni}}</p>
      <p><strong>Profile photo:</strong> {{ user?.profilePhoto}}</p>
      <p><strong>Birthdate:</strong> {{ user?.birthdate | date: 'medium' }}</p>
      <p><strong>Roles:</strong> {{ user?.roles.toString().replaceAll("ROLE_CLIENT", "Cliente").replaceAll("ROLE_DRIVER", "Conductor").replaceAll(",", ", ")}}</p>
      <p *ngIf="user?.bannedUntil"><strong>Banned until:</strong> {{ user?.bannedUntil | date: 'medium' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        class="button" *ngIf="user?.timesBanned >= 3"
        (click)="delete_account(user?.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
