<frontend-main-header></frontend-main-header>
<div class="container">
	<h1> TÉRMINOS DE USO </h1>
	<div class="terms-container">
		<h2> 1. Descripción </h2>
		<p>Ha sido desarrollada una plataforma de trayectos compartidos dentro de una ciudad, en principio con uso
			exclusivo en Sevilla, a la que se puede acceder desde el sitio web www.gotacar.es, diseñada para poner en
			contacto a los conductores que viajan a un determinado destino con pasajeros que se dirigen al mismo lugar,
			de forma que puedan compartir el trayecto, así como los costes asociados al mismo.</p>
		<p>Los presentes términos y condiciones tienen por objeto regular el acceso y los términos de uso de la
			Plataforma. Se ruega leer atentamente estas Condiciones Generales de Uso, en adelante CGU.</p>
		<h2>2. Registro en la plataforma y creación de una cuenta</h2>
		<h3><strong>2.1. Creación de una cuenta</strong></h3>
		<p>Al hacer clic en «Iniciar sesión con Google» para registrarte, reconoces que has leído y aceptado las
			presentes condiciones generales de uso.</p>
		<p>La Plataforma permite a los usuarios publicar y ver viajes y reservar una plaza. Es posible ver los viajes
			sin estar registrado en la plataforma. No obstante, no podrás publicar un viaje ni reservar una plaza sin
			haber creado primero una cuenta para convertirse en usuario.</p>
		<p>Para crear tu cuenta puedes utilizar cualquiera de los dos métodos utilizados a continuación:</p>
		<ol>
			<li>rellenar todos los campos obligatorios en el formulario de registro.</li>
			<li>iniciar sesión en tu cuenta de Google a través de nuestra plataforma. Al utilizar dicha funcionalidad,
				entiendes que GotACar tendrá acceso a conservar determinada información de tu Cuenta de Google.</li>
		</ol>
		<p>Al crear tu cuenta, independientemente del método seleccionado, te comprometes a proporcionar información
			verídica y precisa, y a actualizar dicha información por medio de tu perfil o enviando una notificación a
			GotACar, con el objetivo de garantizar su relevancia y precisión durante la duración total de tu relación
			contractual con GotACar.</p>
		<p>En caso de que te registres utilizando un correo electrónico, te comprometes a guardar en secreto la
			contraseña seleccionada durante la creación de tu cuenta y a no comunicársela a ninguna otra persona. En
			caso de pérdida o divulgación de tu contraseña, deberás comunicárselo a GotACar inmediatamente. Tú eres el
			único responsable del uso de tu cuenta por parte de terceras partes, salvo que hayas comunicado de forma
			expresa a GotACar la pérdida, el uso fraudulento por parte de un tercero, o la revelación de tu contraseña a
			un tercero.</p>
		<h3><strong> 2.2. Verificación </strong></h3>
		<p>GotACar podrá, con fines de transparencia, de mejora de la veracidad o de prevención o detección de fraude,
			establecer un sistema para verificar parte de la información proporcionada en tu perfil. Se trata,
			fundamentalmente, de aquellos casos en los que introduces tu número de teléfono o nos proporcionas un
			Documento de Identidad o Carnet de Conducir.</p>
		<p>Reconoces y aceptas que cualquier referencia en la plataforma o en los servicios a la información
			“certificada”, o a cualquier otro término similar, significa solamente que un usuario ha superado con éxito
			el procedimiento de verificación existente en la plataforma o en los servicios para proporcionarle más
			información sobre el usuario con el que está pensando compartir un trayecto.</p>
		<h2> 3. Utilización de los servicios ofrecidos </h2>
		<h3><strong> 3.1. Publicación de viajes </strong></h3>
		<p>Como usuario, siempre y cuando cumplas las condiciones establecidas a continuación, podrás crear y publicar
			viajes en la plataforma introduciendo información sobre el trayecto que vas a realizar (fechas/horas/puntos
			de recogida y llegada, número de plazas ofrecidas, comentarios sobre el trayecto y cantidad de costes
			compartidos).</p>
		<p>Solamente podrás publicar un viaje si cumples todas y cada una de las condiciones indicadas a continuación:
		</p>
		<ol>
			<li>posees un carnet de conducir válido.</li>
			<li>publicas solamente viajes con vehículos de tu propiedad o utilizados con consentimiento expreso del
				propietario, y siempre y cuando estés autorizado para utilizar el vehículo con fines de desplazamiento
				compartido.</li>
			<li>eres y seguirás siendo el conductor principal del vehículo sujeto del viaje.</li>
			<li>el vehículo tiene un seguro a terceros en vigor.</li>
			<li>no tienes ninguna contraindicación ni incapacidad médica para conducir.</li>
			<li>el vehículo que vas a utilizar para el trayecto es un turismo de 4 ruedas y un máximo de 5 asientos,
				excluyendo los conocidos como vehículos “sin carné”.</li>
			<li>no tienes intención de publicar otro anuncio para el mismo trayecto en la plataforma.</li>
			<li>no ofreces más plazas de las disponibles en tu vehículo y de las permitidas en la plataforma.</li>
			<li>todas las plazas ofertadas tienen cinturón de seguridad, incluso en el caso de que el vehículo esté
				homologado con asientos sin cinturón de seguridad.</li>
			<li>utilizas un vehículo en buen estado y que cumple con todas las normativas legales, y que el vehículo
				dispone del Certificado de ITV actualizado.</li>
		</ol>
		<p>Reconoces que tú eres el único responsable del contenido del anuncio que publicas en la plataforma. Por lo
			tanto, reconoces y garantizas la veracidad y precisión de toda la información incluida en tu anuncio, y te
			comprometes a realizar el trayecto bajo las condiciones descritas en tu viaje.</p>
		<p>Tu anuncio, siempre y cuando cumpla con los presentes CGU, será publicado en la plataforma y por lo tanto
			podrá ser visto por todos los usuarios y visitantes, incluso por las personas que no son usuarios de la
			plataforma, que realicen una búsqueda en la plataforma o en el sitio web de GotACar. GotACar se reserva el
			derecho, a su exclusivo criterio y sin necesidad de previo aviso, a no publicar o a borrar, en cualquier
			momento, cualquier viaje que no cumpla con los presentes CGU o que considere que puede dañar su imagen, la
			imagen de la plataforma o la imagen de los servicios.</p>
		<h3><strong> 3.2. Reservar una plaza </strong></h3>
		<p>Cuando un pasajero esté interesado en un viaje con sistema de reserva, puede realizar una reserva en línea.
			Esta reserva es aceptada automáticamente, pero puede ser rechazada por el conductor de forma manual,
			mientras el rechazo de esta reserva entre dentro de la fecha límite de cancelación, explicado en la <a routerLink="/cancelation-policy">Política
			de cancelación y movilidad</a>. En el momento de la reserva, el pasajero realiza el pago en línea por la
			cantidad de costes compartidos. Una vez recibido el pago por parte de GotACar, el pasajero puede encontrar
			su reserva con los datos correspondientes al viaje en el apartado "Mis viajes". A partir de este momento tú
			eres el único responsable del cumplimiento del contrato que te vincula con el otro usuario.</p>
		<p>En caso de rechazo de reserva por el conductor, el pasajero recibe un reembolso por el importe de la cantidad
			total pagada en el momento de la solicitud de reserva.</p>
		<p>Si eres un conductor deberás cancelar las reservas dentro de un cierto tiempo. De no hacerlo, no se dará la
			posibilidad de rechazar reservas una vez haya pasado la fecha límite de cancelación.</p>
		<h3><strong> 3.3. Valoraciones entre usuarios </strong></h3>
		<p>GotACar te anima a publicar tus comentarios y/o valoraciones sobre un conductor (en el caso de que seas un
			pasajero) o sobre un pasajero (en el caso de que seas un conductor) con el cual hayas compartido un trayecto
			o con quien se supone que hubieses debido compartir un trayecto.</p>
		<p>Tu opinión, al igual que las opiniones que hayan publicado otros usuarios sobre ti, solamente se podrán ver y
			se publicarán en la plataforma una vez transcurrido el viaje.</p>
		<p>Además de dejar tus comentarios, podrás valorar tu experiencia con el otro usuario puntuándolo con una
			estrella (baja puntuación) o cinco (alta puntuación).</p>
		<p>Reconoces y aceptas que GotACar se reserva el derecho a no publicar o a eliminar cualquier comentario,
			pregunta, opinión o respuesta a los mismos si considera que su contenido incumple lo establecido en las
			presentes CGU.</p>
		<h4> 3.3.1. Sistema de quejas y apelaciones </h4>
		<p>Un usuario podrá emitir una queja hacia un conductor, con el que ya haya realizado un viaje previamente,
			introduciendo el motivo de dicha queja. Estas quejas serán revisadas por el administrador del sistema, que
			decidirá si penalizar al conductor o no. GotACar se reserva, por tanto, el derecho a suspender tu cuenta,
			limitar su acceso a los Servicios, o rescindir los presentes CGU en caso de que:</p>
		<ol>
			<li>el administrador del sistema considere el motivo de una queja, recibida de un usuario hacia un
				conductor, con el suficiente peso como para que este último sea baneado, y la fecha fin de penalización
				será a su vez estipulada por dicho administrador.</li>
			<li>el conductor de un viaje cancele un viaje, una vez cumplida la fecha límite de cancelación. En ese
				momento, el conductor será avisado de que va a ser baneado antes de cancelar el viaje.</li>
		</ol>
		<p>A su vez, al conductor penalizado se le dará la oportunidad de explicarse a través de una apelación, que
			puede realizar una vez que inicia sesión y no tiene ninguna apelación pendiente. Al igual que pasa con las
			quejas, el administrador del sistema se encargará de revisar las apelaciones y sopesar si tienen el peso
			necesario como para ser aceptadas y, por tanto, el conductor deja de estar penalizado, o si se rechazan y el
			conductor cumple con el baneo hasta la fecha de expiración.</p>
		<h2> 4. Condiciones de pago </h2>
		<p>El acceso y el registro en la Plataforma, así como la búsqueda, visualización y publicación de Anuncios, no
			implican coste alguno. No obstante, la Reserva se realizará tras el pago correspondiente de una tarifa, bajo
			las condiciones descritas a continuación.</p>
		<h3><strong> 4.1. Costes compartidos </strong></h3>
		<p>Los costes compartidos los determinas tú, como conductor, bajo tu única responsabilidad. Por lo tanto, estás
			de acuerdo en limitar la cantidad de costes compartidos solicitada a tus pasajeros a los costes reales del
			trayecto que vas a compartir con los pasajeros.</p>
		<h3><strong> 4.2. Autorización de cobro </strong></h3>
		<p>Al utilizar la plataforma como conductor, concedes a GotACar una autorización de cobro de la cantidad de
			costes compartidos en tu nombre y a tu nombre.</p>
		<p>Por consiguiente, en el contexto de un trayecto, y tras la aceptación automática de la reserva, GotACar cobra
			la cantidad total pagada por el pasajero.</p>
		<p>Reconoces y aceptas que ninguna de las cantidades mencionadas recibidas por GotACar en nombre del conductor
			dan derecho al cobro de intereses. Te comprometes a responder con debida diligencia a cualquier solicitud de
			GotACar, y en general, a cualquier autoridad administrativa o judicial competente, especialmente en lo
			relacionado con la prevención del blanqueo de capitales. Fundamentalmente aceptas proporcionar, tras su
			solicitud, cualquier elemento de prueba de tu dirección y/o identidad que sea de utilidad.</p>
		<p>En caso de falta de respuesta a dichas solicitudes, GotACar podrá tomar las medidas que considere necesarias,
			como por ejemplo congelar las cantidades pagadas y/o suspender tu cuenta.</p>
		<h3><strong> 4.3. Compromisos como conductor </strong></h3>
		<p>Como conductor, te comprometes a no solicitar una cantidad de costes compartidos superior a los costes reales
			del trayecto y que puedan generarte un beneficio, dejando especificado que, en el contexto de compartir un
			coste, tú tienes que asumir como conductor tu propia parte de los costes incurridos en el trayecto. Tú eres
			el único responsable de calcular los costes en los que incurres durante el trayecto y de asegurarte de que
			la cantidad solicitada a tus pasajeros no supera los costes reales del trayecto (excluyendo tu parte de los
			costes).</p>
		<p>GotACar se reserva el derecho a suspender tu Cuenta en caso de que utilices un vehículo de alquiler u otro
			vehículo comercial, taxi o vehículo de empresa con el objetivo de generar un beneficio a través de la
			plataforma. Recuerda proporcionar a GotACar, en caso de que te lo solicite, una copia del certificado de
			registro de tu vehículo y cualquier otra información que demuestre que estás autorizado a utilizar el
			vehículo en cuestión en la plataforma y que no estás obteniendo beneficio alguno por el uso de la misma.</p>
		<h2> 5. Datos de carácter personal </h2>
		<p>En el contexto del uso de la plataforma por tu parte, GotACar recopilará y procesará tu información personal.
			Al utilizar la plataforma y registrarte como usuario, reconoces y aceptas el procesamiento de tus datos
			personales por parte de GotACar de conformidad con la legislación aplicable y lo establecido en la <a
				routerLink="/privacy-policy">Política de privacidad</a>.</p>
		<h2> 6. Propiedad intelectual </h2>
		<h3><strong> 6.1. Contenido publicado por GotACar </strong></h3>
		<p>Con sujeción al contenido proporcionado por sus usuarios, GotACar es el titular único de todos los derechos
			de propiedad intelectual relacionados con el Servicio, la Plataforma, su contenido (en concreto los textos,
			imágenes, diseños, logotipos, vídeos, sonido, datos y gráficos) y con el software y las bases de datos que
			aseguran su funcionamiento.</p>
		<p>GotACar te garantiza un derecho personal, no exclusivo y no transferible para utilizar la Plataforma y los
			Servicios, para tu uso personal y privado, con un objetivo no comercial y de conformidad con la finalidad de
			la Plataforma y los Servicios.</p>
		<p>Está totalmente prohibido lo siguiente:</p>
		<ol>
			<li>reproducir, modificar, adaptar, distribuir, representar públicamente y diseminar la Plataforma, los
				Servicios y todo su contenido, salvo previa autorización expresa de GotACar.</li>
			<li>descompilar y aplicar ingeniería inversa a la Plataforma o los Servicios, salvo las excepciones
				estipuladas por los textos aplicables.</li>
			<li>extraer o intentar extraer (en concreto utilizando robots de extracción de datos o herramientas
				similares de recolección de datos) una parte sustancial de los datos de la Plataforma.</li>
		</ol>
		<h3><strong> 6.2. Contenido publicado por el usuario en la Plataforma </strong></h3>
		<p>Con el objetivo de permitir la provisión de los Servicios, y en cumplimiento con el objetivo de la
			Plataforma, le otorgas a GotACar una licencia no exclusiva para usar el contenido y los datos que has
			proporcionado en el contexto de la utilización de los Servicios (de aquí en adelante denominados como el
			“Contenido desarrollado por el usuario”). Para poder permitir a GotACar distribuir por medio de la red
			digital y de conformidad con cualquier protocolo de comunicación (en especial Internet y las redes móviles)
			y para poder ofrecer al público el contenido de la Plataforma, autorizas a GotACar a reproducir,
			representar, adaptar y traducir tu Contenido desarrollado por el usuario para todo el mundo y durante la
			duración completa de tus relaciones contractuales con GotACar, de conformidad con lo siguiente:</p>
		<ol>
			<li>autorizas a GotACar a reproducir todo o parte de tu Contenido desarrollado por el usuario en cualquier
				medio de grabación digital, conocido o por conocer, en concreto en cualquier servidor, disco duro,
				tarjeta de memoria u otro medio equivalente, en cualquier formato y por medio de cualquier proceso, ya
				conocido o por conocer, en el grado necesario para cualquier operación de almacenamiento, copia de
				seguridad, transmisión o descarga relacionada con el funcionamiento de la Plataforma y el suministro del
				Servicio.</li>
			<li>autorizas a GotACar a adaptar y traducir su Contenido desarrollado por el usuario, y a reproducir dichas
				adaptaciones en cualquier medio digital, conocido o por conocer, establecido en el punto (1) arriba, con
				el objetivo de suministrar los Servicios en diferentes idiomas. Este derecho incluye la opción de
				realizar modificaciones en el formato de tu Contenido desarrollado por el usuario, con respecto a tu
				derecho moral, con el objetivo de respetar el diseño gráfico de la Plataforma o para hacer que tu
				contenido sea compatible a nivel técnico con nuestro software para su posterior publicación por medio de
				la Plataforma.</li>
		</ol>
		<h2> 7. Funcionamiento, disponibilidad y funcionalidades de la Plataforma </h2>
		<p>GotACar intentará en la medida de lo posible mantener el funcionamiento constante de la Plataforma los 7 días
			de la semana y las 24 horas del día. Sin embargo, es posible que se pueda suspender de forma temporal el
			acceso a la Plataforma, sin previo aviso, por motivos técnicos, de mantenimiento, migración u operaciones de
			actualización, o debido a cortes de suministro o restricciones relacionadas con el funcionamiento de la red.
		</p>
		<p>Además, GotACar se reserva el derecho a modificar o suspender en su totalidad o en parte el acceso a la
			Plataforma o sus funcionalidades, a su discreción, bien sea de forma temporal o permanente.</p>
		<h2> 8. Ley aplicable </h2>
		<p>Estos CGU se han redactado en español, de conformidad con la legislación española.</p>
		<p>Si fuese necesario, también podrás presentar tus reclamaciones con respecto a nuestra Plataforma o Servicios
			en la plataforma de resolución de litigios en línea de la Comisión Europea, a la que podrás acceder desde el
			enlace a Contacto con soporte, especificado en el footer de la aplicación solo si eres usuario registrado en
			el sistema de GotACar.</p>
	</div>
</div>
<frontend-main-footer></frontend-main-footer>