<button mat-mini-fab [matMenuTriggerFor]="aboveMenu" class="auth-button">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/authenticated/profile">
    <mat-icon>sentiment_satisfied_alt </mat-icon>
    <span>Perfil</span>
  </button>
  <div
    [matTooltip]="
      user_is_banned() ? 'Su cuenta de usuario está baneada actualmente' : null
    "
  >
    <button
      [disabled]="user_is_banned()"
      mat-menu-item
      *ngIf="authService.is_driver()"
      routerLink="/authenticated/create-trips"
    >
      <mat-icon>directions_car</mat-icon>
      <span>Publicar viaje</span>
    </button>
  </div>

  <button
    mat-menu-item
    *ngIf="authService.is_driver()"
    routerLink="/authenticated/driver-trips"
  >
    <mat-icon>view_list</mat-icon>
    <span>Viajes publicados</span>
  </button>
  <button mat-menu-item routerLink="/authenticated/trips">
    <mat-icon>view_list </mat-icon>
    <span>Mis Viajes</span>
  </button>
  <hr />
  <button mat-menu-item (click)="authService.sign_out()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>
