<button mat-mini-fab [matMenuTriggerFor]="aboveMenu" class="auth-button">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/authenticated/profile">
    <mat-icon>sentiment_satisfied_alt </mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item>
    <mat-icon>directions_car</mat-icon>
    <span>Viajes</span>
  </button>
  <button mat-menu-item>
    <mat-icon>payments</mat-icon>
    <span>Transferencias</span>
  </button>
  <hr />
  <button mat-menu-item (click)="authService.sign_out()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>