<frontend-main-header></frontend-main-header>
<section class="trip-details-container">
  <div class="trip">
    <div class="trip-info">
      <h2>
        {{ get_trip_description() }}
      </h2>
      <h3>Fecha y hora: {{ trip?.startDate | date: 'HH:mm dd/MM/yyyy' }}</h3>
      <div class="price-and-places">
        <span>Plazas disponibles: {{ trip?.places }}</span>
        <span class="price">{{ trip?.price | convertCentToEur }}</span>
      </div>
    </div>
    <div class="driver">
      <div class="driver-info">
        <h3><strong>{{ trip?.driver?.firstName + ' ' + trip?.driver?.lastName }}</strong></h3>
    
        <button mat-flat-button
        class="data-button"
        (click)="open_driver_data_dialog(trip)"
        *ngIf="show_buy_button()">Ver datos conductor</button>
        
      </div>
      <div class="driver-status" matTooltip="Conductor verificado por GotACar">
        <img [src]="get_profile_photo()"  />
        <mat-icon class="verified">verified</mat-icon>
      </div>
    </div>
    
    <button
      mat-flat-button
      class="buy-button"
      (click)="order_trip()"
      *ngIf="show_buy_button()"
    >
      Reservar viaje
    </button>
  </div>
  <div class="map">
    <frontend-trip-map *ngIf="trip" [trip]="trip"></frontend-trip-map>
  </div>
</section>
<frontend-main-footer></frontend-main-footer>
