<div class="grid-container">
  <div class="form-container">
    <form class="form" [formGroup]="new_meeting_point">
      <h3>Añadir punto de encuentro</h3>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Direccion</mat-label>
        <input type="text" formControlName="address" matInput />
      </mat-form-field>
      <mat-form-field
        matTooltip="Haz click en el mapa para obtener las coordenadas"
        appearance="fill"
      >
        <mat-label>Latitud</mat-label>
        <input type="text" formControlName="lat" matInput readonly />
      </mat-form-field>
      <mat-form-field
        matTooltip="Haz click en el mapa para obtener las coordenadas"
        appearance="fill"
      >
        <mat-label>Longitud</mat-label>
        <input type="text" formControlName="lng" matInput readonly />
      </mat-form-field>
      <div class="buttons-container">
        <button
          mat-raised-button
          class="send-button"
          (click)="resetForm()"
          [disabled]="!new_meeting_point.valid"
        >
          Limpiar
        </button>
        <button
          mat-raised-button
          class="send-button"
          type="submit"
          (click)="onSubmit()"
          [disabled]="!new_meeting_point.valid"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
  <div class="map">
    <google-map
      class="google-map"
      height="450px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [title]="marker.title"
        (mapClick)="openInfo(markerElem, marker.info, marker.position)"
      >
      </map-marker>
      <map-info-window class="map-info-window"
        >{{ infoContent }}
        <button
          matTooltip="Eliminar punto de encuentro"
          mat-icon-button
          (click)="deleteMarker(infoPosition)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </map-info-window>
    </google-map>
  </div>
</div>
