.container {
  max-width: 300px;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 50px;
}
.custom {
  margin-left: 60px;
  margin-right: 30px;
  width: max-content;
  padding: 0px;
  display: grid;
}
.custom2 {
  margin-left: 10px;
}

.send-button {
  background-color: #538994;
  color: white;
  margin: 10px;
}

.space {
  margin-left: 20px;
  width: max-content;
}
.grid-container {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Formulario Mapa Mapa ."
    "Formulario Mapa Mapa ."
    "Formulario Mapa Mapa .";
  color: #0e4a6b;
}
.Mapa {
  grid-area: Mapa;
  height: min-content;
}
.Formulario {
  grid-area: Formulario;
}

::ng-deep {
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #538994;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #538994;
  }

  .mat-form-field-ripple {
    background-color: #538994 !important;
  }
}
