.container {
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 50px;
  
}
.custom{
    width: 1555px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.space{
    float: right;
    max-width: 400px;
    margin-top: 10px;
    margin-right: 70px;
    margin-bottom: 10px;
}