@import "~colors.scss";

.container {
  max-width: 300px;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 50px;
}

.custom {
  display: grid;
}

.buttons-container {
  margin-left: 10px;
}

.send-button {
  background-color: #538994;
  color: white;
  margin: 10px;
}

.space {
  margin-left: 20px;
  width: max-content;
}

.grid-container {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 3fr;
  gap: 0px 0px;
  grid-template-areas: "form-container map";
  color: #0e4a6b;
  align-items: center;
}

.map {
  grid-area: map;
  padding: 0 24px 24px 24px;
}

.form-container {
  grid-area: form-container;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

::ng-deep {
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #538994;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #538994;
  }

  .mat-form-field-ripple {
    background-color: #538994 !important;
  }
}

@media (max-width: 760px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .map {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }
}
