@import '~colors.scss';

h1 {
  text-align: center;
  color: $secondary;
  margin: 20px;
}

.trip {
  border: 1px solid $primary;
  padding: 30px;
}

.button {
  background-color: #0e4a6b;
  color: white;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: '. .';
  padding: 20px;
}

@media(max-width: 760px) {
  .trips-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
