<h1>SOBRE NOSOTROS</h1>
<div class="us-list">
    <mat-card class="us">
      <div class="us-header">
        <img class="profile-photo"
        src="assets\img\us1.jpeg"
      />
        <mat-card-title class="name">
          <p>Name</p>
        </mat-card-title>
      </div>
    </mat-card>

    <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us2.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us3.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us4.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us5.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us6.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us7.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us8.jpeg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us9.png"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us10.png"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us11.jpg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

      <mat-card class="us">
        <div class="us-header">
          <img class="profile-photo"
          src="assets\img\us12.jpg"
        />
          <mat-card-title class="name">
            <p>Name</p>
          </mat-card-title>
        </div>
      </mat-card>

</div>
