<frontend-main-header
  (click)="drawer.toggle()"
  [title]="'Gotacar jeje'"
></frontend-main-header>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-button color="primary" (click)="authService.sign_out()">
      Cerrar sesión
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<div class="menu-auth">
  <frontend-auth-menu></frontend-auth-menu>
</div>
