h1 {
  text-align: center;
  color: #0e4a6b;
  margin: 20px;
  font-size: xx-large;
}

.container{
  background-color: #d6d5d5;
  padding: 20px;
}

.privacy-container{
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  margin: 40px 40px;
}

.button{
  background-color: #0e4a6b;
  color: white;
}