<frontend-main-header></frontend-main-header>
<div class="container">
	<h1> POLÍTICA DE PRIVACIDAD </h1>
	<div class="privacy-container">
		<h2> 1. ¿Qué información recogemos?</h2>
		<h3><strong>1.1. Información que tú nos proporcionas</strong></h3>
		<p>Puede que nos facilites información, incluso información que puede identificarte (“datos personales”), cuando
			utilizas la Página Web/App al rellenar sus formularios (como, por ejemplo, el formulario de registro), o
			cuando te pones en contacto con nosotros por teléfono, correo electrónico o de cualquier otra forma, así
			como cuando nos informas de algún problema en nuestra Página Web/App.</p>
		<p>La información que nos proporcionas puede contener:</p>
		<ol>
			<li>información obligatoria necesaria para registrarse en el servicio que proporcionamos en nuestra Página
				Web/App o para acceder a otros de nuestros servicios; estos datos incluyen tu nombre completo, correo
				electrónico, fecha de nacimiento, DNI, número de teléfono móvil y una contraseña. Todos estos campos son
				obligatorios. BlaBlaCar no podrá proporcionarte los servicios ofrecidos en nuestra página y app si no
				nos das la información necesaria para poder crearte una cuenta de usuario en nuestra Página Web/App.
			</li>
			<li>una fotografía.</li>
			<li>información sobre tu coche.</li>
			<li>un registro de la correspondencia que hayas mantenido con nosotros.</li>
			<li>un registro de cualquier reserva que realices o cualquier anuncio de viaje que publiques a través de
				nuestra Web/App.</li>
			<li>detalles sobre las transacciones económicas o contables, incluidas las operaciones efectuadas a través
				de nuestra Web/App o de cualquier otro medio. Esto puede incluir información como, por ejemplo, tu
				tarjeta de pago o datos bancarios, información relativa a viajes o tramos de viaje que hayas reservado u
				ofrecido a través de nuestra Página Web/App.</li>
			<li>tus quejas o apelaciones, como tus evaluaciones sobre los viajes que hayas compartido con otros miembros
				de nuestra comunidad. Dicha información puede ser empleada para fines de análisis y estudio de las
				conductas de los usuarios.</li>
			<li>información que podemos solicitarte cuando informes acerca de un problema con nuestra Página Web/App o
				nuestro servicio, como, por ejemplo, la causa de tu solicitud de asistencia.</li>
			<li>información sobre tu localización, siempre y cuando hayas dado tu consentimiento a la recopilación y
				tratamiento de estos datos.</li>
		</ol>
		<h3><strong>1.2. Información que recogemos automáticamente</strong></h3>
		<p>Si te registras a través de los métodos de autenticación de Google, GotACar tendrá acceso a ciertos datos
			personales (p. ej. nombre, apellidos, foto, correo electrónico, etc.) de tu cuenta, de acuerdo con los
			términos y condiciones aplicables.</p>
		<p>También recopilamos información global sobre tu actividad en nuestra plataforma (como, por ejemplo, el número
			de viajes ofrecidos, tu tiempo de respuesta a los mensajes, etc.). Esta información puede ser publicada en
			tu perfil público en nuestra plataforma. Además, será utilizada para realizar estadísticas como objeto de
			estudio para la Aplicación.</p>
		<h2> 2. Conservación de datos</h2>
		<p>Salvo con relación a las categorías de datos personales mencionadas, tus datos personales se conservarán
			mientras dure tu relación con nosotros y dejarán de utilizarse:</p>
		<ol>
			<li>cinco años después del último uso de nuestra plataforma, si no cerraste tu cuenta.</li>
			<li>un año después del cierre de tu cuenta.</li>
		</ol>
		<p>Las siguientes categorías de datos personales pueden conservarse durante periodos diferentes:</p>
		<ol>
			<li>los datos financieros (p. ej., pagos, reembolsos, etc.) se conservan durante el tiempo exigido por la
				legislación contable y fiscal aplicable.</li>
			<li>todo el contenido generado por el usuario se anonimiza, aunque sigue estando disponible en nuestras
				plataformas.</li>
			<li>en el caso de que tu cuenta sea suspendida o bloqueada, conservaremos tus datos durante un periodo de
				entre 2 y 10 años, con el fin de impedir que puedas eludir las normas que se apliquen a nuestras
				plataformas.</li>
		</ol>
		<h2> 3. ¿Cómo usamos la información que recogemos?</h2>
		<p>Usaremos la información recogida con el fin de:</p>
		<ol>
			<li>cumplir con nuestras obligaciones en virtud de los contratos que firmemos entre tú y nosotros y para
				proporcionarte la información y los servicios que nos solicites. Este tratamiento es necesario para
				poder cumplir con nuestras obligaciones contractuales mutuas.</li>
			<li>enviarte información relativa a nuestros servicios por correo electrónico y/o mensaje de texto y/o
				cualquier otro medio de comunicación. Este tratamiento es necesario para poder cumplir con nuestras
				obligaciones contractuales mutuas y/o se lleva a cabo con tu consentimiento.</li>
			<li>para percibir los pagos que realices o para transferirte a ti los pagos que hayamos cobrado en tu
				nombre. Este tratamiento es necesario para poder cumplir con nuestras obligaciones contractuales mutuas.
			</li>
			<li>para permitirte personalizar tu perfil de usuario en nuestra plataforma. Este tratamiento se lleva a
				cabo con tu consentimiento.</li>
			<li>para permitirte comunicarte e interactuar con otros miembros acerca de nuestros servicios o de los
				viajes que vayas a compartir o hayas compartido con otros miembros y/o para organizar dichos viajes.
				Este tratamiento es necesario para poder cumplir con nuestras obligaciones contractuales mutuas y/o se
				lleva a cabo con tu consentimiento.</li>
			<li>para darte acceso a nuestros servicios de asistencia y para permitirte comunicarte con nuestro equipo de
				relaciones entre miembros. Este tratamiento es necesario para poder cumplir con nuestras obligaciones
				contractuales mutuas, se lleva a cabo con tu consentimiento y/o es necesario para establecer, ejercer o
				defender derechos legales.</li>
			<li>para garantizar el cumplimiento con la legislación aplicable, nuestros <a routerLink="/terms-and-conditions">Términos y Condiciones</a>, Política
				de Privacidad y <a routerLink="/cancelation-policy">Política de cancelaciones y movilidad</a>. Determinados incumplimientos que consideremos
				como inapropiados pueden conducir a la suspensión de tu cuenta. Este tratamiento es necesario para poder
				cumplir con nuestras obligaciones contractuales mutuas, poder cumplir con nuestras obligaciones legales
				y/o para establecer, ejercer o defender derechos legales.</li>
			<li>para notificarte cualquier cambio en nuestros servicios o para la gestión de alertas ante cualquier
				problema que haya ocurrido con tus datos, informe de pérdidas o divulgación no consentida. Este
				tratamiento es necesario para poder cumplir con nuestras obligaciones contractuales mutuas, poder
				cumplir con nuestras obligaciones legales y/o para establecer, ejercer o defender derechos legales.</li>
			<li>para administrar nuestra Web/App y para operaciones internas, incluida la resolución de problemas, el
				análisis de datos, pruebas, investigación y encuestas. Este tratamiento se basa en nuestro interés
				legítimo (es decir, garantizar la seguridad de nuestras plataformas y mejorar sus características.</li>
			<li>para asegurar que el contenido se presente de la manera más eficaz para ti y para tu dispositivo. Este
				tratamiento se basa en nuestro interés legítimo (es decir, proporcionarte contenidos relevantes).</li>
			<li>como parte de nuestros esfuerzos por mantener segura y a salvo nuestra Página Web/App. Este tratamiento
				se basa en nuestro interés legítimo (garantizar la seguridad de nuestras plataformas), se lleva a cabo
				para establecer, ejercer o defender derechos legales y/o para cumplir con nuestras obligaciones
				legales).</li>
		</ol>
		<h2> 4. ¿Vamos a transferir tu información, cómo y a dónde?</h2>
		<p>En un principio, mantenemos los datos personales que recogemos sobre ti dentro de la Unión Europea (“UE”).
		</p>
		<h2> 5. ¿Qué derechos puedes ejercer respecto a tus datos personales?</h2>
		<p>Tienes derecho a recibir una copia de los datos personales que tenemos sobre ti (tu derecho de acceso a los
			datos). Por ello, es necesario recoger ciertos datos como el email.</p>
		<p>Puedes solicitar la supresión de los datos personales o la corrección de los datos personales que sean
			inexactos (tu derecho al olvido y rectificación). Ten en cuenta que podremos conservar determinada
			información sobre ti, tal como exija la legislación, o cuando tengamos un fundamento jurídico para hacerlo.
		</p>
		<p>Tienes derecho a oponerte, en cualquier momento, al tratamiento de tus datos personales con fines de
			marketing directo, o al tratamiento de tus datos personales con otros fines, por motivos relacionados con tu
			situación particular (tu derecho a oponerte al tratamiento). Ten en cuenta que, en el último caso, este
			derecho se aplica únicamente si el tratamiento de tus datos personales se basa en nuestro interés legítimo.
		</p>
		<p>Tienes derecho a recibir y/o a que transfiramos a otro responsable del tratamiento un subconjunto de datos
			personales, relacionados contigo y que tú nos hayas proporcionado, y que tratemos para cumplir nuestro
			contrato o porque hayas dado tu consentimiento para ello con anterioridad, en un formato estructurado,
			legible por máquinas y de uso común (tu derecho a la portabilidad de los datos).</p>
		<p>Para ejercer tus derechos, contacta con el Delegado de Protección de Datos del Grupo
			(dataprotection@gmail.com).</p>
		<p>También tienes derecho a presentar una reclamación a la autoridad de control de protección de datos
			pertinente, o a solicitar una compensación por la vía judicial, si crees que se han vulnerado tus derechos.
		</p>
		<h2> 6. Confidencialidad de tu contraseña</h2>
		<p>Cuando decidas establecer una contraseña de acceso a ciertas partes de nuestra Web/App, será tu
			responsabilidad mantenerla en secreto. Por favor, no reveles tu contraseña a nadie.</p>
	</div>
</div>
<frontend-main-footer></frontend-main-footer>