<mat-card class="form-container">
  <mat-card-header class="header-card">
    <mat-card-title>
      <h1>Busca tu viaje</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <span>
        <mat-icon>trip_origin</mat-icon>
      </span>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Origen</mat-label>
        <input matInput type="text" formControlName="origen" required />
      </mat-form-field>
      <mat-icon>trip_origin</mat-icon>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Destino</mat-label>
        <input matInput type="text" formControlName="destino" required />
      </mat-form-field>
      <mat-icon>calendar_today</mat-icon>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="fecha" required />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button type="submit" class="search-button">
        <mat-icon class="search">search</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>