.example-container{
    text-align: center
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-field{
    display: block
}

.blue-snackbar {
    background: rgb(44, 34, 172);
    color: white;
}