.form-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../../assets/img/mapa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-card {
  display: flex;
  justify-content: center;
}

.form-field {
  margin: 10px;
  color: #538994;
  background-color: white;
  padding: 0px !important;
}

mat-icon {
  color: #0e4a6b;
}

.search {
  color: white;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  color: #0e4a6b;
}

.search-button {
  vertical-align: super;
  color: white;
  background-color: #0e4a6b;
}

.search-form-with-recommendations {
  position: relative;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.date-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep {
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: #538994;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: #538994;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #538994;
  }
}

@media (max-width: 760px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
