<section class="page-content">
  <h1>Actualiza tu perfil de GotACar</h1>

  <form [formGroup]="update_form">
    <mat-card class="login-card">
      <div class="form-fields">
        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-label>Nombre </mat-label>
          <input matInput type="text" formControlName="firstName" required />
          <mat-error *ngIf="update_form?.get('firstName')?.errors?.required"
            >Campo obligatorio</mat-error
          >
          <mat-error *ngIf="update_form?.get('firstName')?.errors?.pattern"
          >Proporcione el apellido con caracteres del alfabeto</mat-error
        >
        </mat-form-field>
        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-label>Apellido </mat-label>
          <input matInput type="text" formControlName="lastName" required />
          <mat-error *ngIf="update_form?.get('lastName')?.errors?.required"
            >Campo obligatorio</mat-error
          >
          <mat-error *ngIf="update_form?.get('lastName')?.errors?.pattern"
          >Proporcione el apellido con caracteres del alfabeto</mat-error
        >
        </mat-form-field>
        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>attach_email</mat-icon>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            required
          />
          <mat-error *ngIf="update_form?.get('email')?.errors?.required"
            >Campo obligatorio</mat-error
          >
          <mat-error *ngIf="update_form?.get('email')?.errors?.email"
            >Email inválido</mat-error
          >
        </mat-form-field>
        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-label>Nueva contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="update_form?.get('password')?.errors?.pattern"
            >Contraseña 8 caracteres mínimo, mayúsculas, minúsculas, números y
            caracteres especiales</mat-error
          >
        </mat-form-field>
        <p class="message">La contraseña debe contener 8 caracteres mínimo, mayúsculas, minúsculas, números y al menos uno de los siguientes caracteres: #?!@$%^&*-</p>
        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-label>DNI</mat-label>
          <input matInput type="text" formControlName="dni" required readonly/>
          <mat-error *ngIf="update_form?.get('dni')?.errors?.required"
            >Campo obligatorio</mat-error
          >
          <mat-error *ngIf="update_form?.get('dni')?.errors?.pattern"
            >DNI inválido</mat-error
          >
        </mat-form-field>

        <mat-form-field class="spacing" appearance="outline">
          <mat-label>Fecha nacimiento </mat-label>
          <input
            matInput
            formControlName="birthdate"
            required
            readonly
          />
        </mat-form-field>

        <mat-form-field class="spacing" appearance="outline">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-label>Teléfono</mat-label>
          <input matInput type="text" formControlName="phone" required />
          <mat-error *ngIf="update_form?.get('phone')?.errors?.required"
            >Campo obligatorio</mat-error
          >
          <mat-error *ngIf="update_form?.get('phone')?.errors?.pattern"
            >Teléfono inválido</mat-error
          >
        </mat-form-field>
      </div>

      <button
        class="login-button"
        mat-flat-button
        type="submit"
        (click)="onSubmit()"
        [disabled]="!update_form.valid"
      >
        Actualizar
      </button>
    </mat-card>
  </form>
</section>
