h1 {
  text-align: center;
  color: #0e4a6b;
  margin: 20px;
}

button {
  background-color: #0e4a6b;
  color: white;
}

mat-form-field {
  margin: 10px;
}

.stepper-actions {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    'start-date end-date trip-comments trip-comments'
    'price places trip-comments trip-comments';
}

.trip-comments {
  grid-area: trip-comments; 
}

.comments-input{
  max-height: 135px;
}

.start-date {
  grid-area: start-date;
}

.end-date {
  grid-area: end-date;
}

.price {
  grid-area: price;
}

.places {
  grid-area: places;
}

.grid-container mat-form-field {
  width: 100%;
}

.search-form-with-recommendations {
  display: flex;
  flex-direction: column;
  position: relative;
}

.location-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submit-search-button {
  margin-bottom: 1.34375em;
}

@media (max-width: 760px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container mat-form-field {
    margin: 10px 0;
  }

  .trip-comments {
    order: 100;
  }
}
