<div class="container">
  <h1>Crea tu propio viaje</h1>

  <div class="form-container">
    <form ngNativeValidate [formGroup]="createTripForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Origen</mat-label>
          <input
            matInput
            type="text"
            formControlName="origen"
            placeholder="Los Bermejales"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Destino</mat-label>
          <input
            matInput
            type="text"
            formControlName="destino"
            placeholder="Nervión"
            required
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Hora inicio</mat-label>
          <input
            matInput
            [min]="minDate"
            required
            type="datetime-local"
            formControlName="fechaHoraInicio"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Hora Fin</mat-label>
          <input
            matInput
            [min]="minDate"
            required
            type="datetime-local"
            formControlName="fechaHoraFin"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Precio(céntimos de euro)</mat-label>
          <input
            matInput
            type="number"
            step="0.01"
            formControlName="price"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Pasajeros</mat-label>
          <input
            min="1"
            max="4"
            matInput
            type="number"
            formControlName="numeroPasajero"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Comentarios</mat-label>
        <textarea matInput formControlName="comentarios" required></textarea>
      </mat-form-field>
      <br />
      <button mat-raised-button type="submit">Crear</button>
    </form>
  </div>
</div>
