<frontend-main-header></frontend-main-header>
<div class="container">
	<h1> Política de cancelación de viajes y movilidad </h1>
	<div class="cancelation-container">
		<h2> Penalizaciones como cliente </h2>
		<p>Los clientes de GotACar estarán sujetos a una política de cancelación que se encargará de establecer las
			penalizaciones en caso de incumplimiento.</p>
		<p>Se contemplan las siguientes casuísticas a la hora de incumplir con nuestra normativa interna.</p>
		<h3><strong> Penalizaciones como cliente </strong></h3>
		<p>El conductor estará obligado a partir a la hora exacta de salida, si el cliente no se ha presentado se le
			impondrá una penalización de acceso a nuestros servicios. Esta dependerá del número de penalizaciones
			recibidas con anterioridad:</p>
		<ul>
			<li>Si es la primera penalización el cliente estará dos días sin poder acceder a nuestros servicios.</li>
			<li>Si es la tercera penalización, el cliente estará una semana sin poder acceder a nuestros servicios.</li>
			<li>Si es la quinta vez que se impone una penalización el cliente estará baneado durante 15 días.</li>
		</ul>
		<h3><strong>Un cliente cancela un viaje antes de que cumpla el tiempo límite de cancelación</strong></h3>
		<p>En este caso el cliente recibirá el reembolso del importe de su viaje, salvo un 10% del importe que
			corresponderá a las comisiones que cobran nuestros servicios de pago.</p>
		<h3><strong>Un cliente cancela un viaje cuando ha pasado el tiempo límite de cancelación</strong></h3>
		<p>El cliente pierde el dinero que ha pagado. Este importe se repartirá entre el conductor y GotACar,
			correspondiendo un 40% del mismo a GotACar y un 60% al conductor.</p>
		<h2>Penalización de cara al conductor</h2>
		<p>Los conductores que utilicen nuestra aplicación estarán en la obligación de prestar los servicios vendidos en
			todo momento. De esta forma, la penalización más grave dentro de nuestra aplicación corresponderá a todos
			los conductores que no presten sus servicios a los clientes que los contraten.</p>
		<p>Esto supondrá la inhabilitación de la cuenta durante un periodo de 2 semanas, tanto ejerciendo el rol de
			conductor como el de cliente, además de la devolución del importe íntegro del viaje no prestado.</p>
		<p>El conductor tendrá el poder de cancelar el viaje de un cliente siempre que no haya pasado la hora límite de
			cancelación. Esto quiere decir, que cualquier usuario que haya contratado los servicios de un conductor
			podrá ser rechazado por este último.</p>
		<p>Además, se describen a continuación las posibles situaciones que se pueden dar.</p>
		<h3><strong>El conductor cancela el viaje antes de la hora límite</strong></h3>
		<p>En este caso, el conductor no sufrirá ninguna penalización, y el dinero será devuelto a los clientes.</p>
		<h3><strong>El conductor cancela el viaje cuando ha cumplido la fecha límite</strong></h3>
		<p>El conductor sufrirá una penalización idéntica a la que supondría el no presentarse a la hora citada. Además,
			sufrirá penalizaciones por parte de los usuarios. Y el dinero será devuelto a los clientes.</p>
		<h3><strong>Causas justificadas para la cancelación</strong></h3>
		<p>Habrá una serie de causas que justifiquen una cancelación fuera de la hora límite de la anulación de un
			viaje. Estas serán revisadas por el administrador de GotACar en caso de recibir una apelación por parte de
			un usuario.</p>
		<p>Tras estudiar cada caso, el equipo de GotACar decidirá si mantener la sanción aplicada o anular la misma.</p>
		<h3><strong>Establecimiento de la hora límite de cancelación</strong></h3>
		<p>La hora límite de cancelación se establece automáticamente media hora antes de realizar el trayecto. Esta
			restricción, junto con la de poder publicar un viaje con una hora de antelación como mínimo, hacen que el
			conductor cuente, al menos, con media hora para cancelar las reservas no deseadas.</p>
		<h2>Política de movilidad para todos los usuarios</h2>
		<p>GotACar prestará sus servicios únicamente en la localidad de Sevilla, por lo que los trayectos que se
			realicen fuera de esta ciudad quedarán automáticamente cancelados al tratar de ser publicados en nuestros
			servicios. Se estudiará la posibilidad de ampliar nuestros servicios a otros lugares del territorio español.
		</p>
	</div>
</div>
<frontend-main-footer></frontend-main-footer>