h1 {
  text-align: center;
  color: #0e4a6b;
  margin: 20px;
  font-size: 30px;
}

.complaint-appeal {
  border: 1px solid #0e4a6b;
  padding: 30px;
}

.complaint-appeals-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  grid-template-areas: ". . .";
  padding: 20px;
}

.accept-button {
  color: white;
  background-color: #70c070;
}

.refuse-button {
  color: white;
  background-color: #f37555;
}

@media (max-width: 760px) {
  .complaint-appeals-list {
    display: flex;
    flex-direction: column;
  }

  .complaint-appeals-list mat-card {
    margin: 10px 0;
  }
}
